.footer {
    background-color: #0a2e1f;
    color: white;
    font-size: 1.25rem;
}

.page-footer__ul {
    list-style-type: none;
    margin-top: 4rem;
}

.page-footer__sub_ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 1rem;
}

.page-footer_content {
    border-bottom: 1px solid #e0e0e0 !important;
    padding-bottom: 1.5rem;
}

.legal-footer__li {
    color: #1d8156;
    display: inline-block;
    padding-right: 0.5rem;
}
.legal-footer__li:not(:last-child):after {
    content: "|";
    display: inline-block;
    padding-left: 0.5rem;
    text-align: center;
    width: 0.25rem;
}

.legal-footer__link:hover, .legal-footer__link:visited {
    text-decoration: underline;
}

.legal-footer__link {
    color: #1d8156;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.legal-footer__li {
    color: #1d8156;
    display: inline-block;
    padding-right: 0.5rem;
}

@media (min-width: 1230px) {
    .page-footer_content .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

.card-columns .card {
    position: relative;
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

.page-footer__link:hover, .page-footer__link:visited {
    color: #000;
    text-decoration: underline;
}

.page-footer__link {
    color: #000;
    display: inline-block;
    font-size: .875rem;
    text-decoration: none;
}