.badge-rating {
    background-color: #6e002a;
    color: #fff;
}

.product-text {
    font-size: 0.8rem !important;
}

@media (max-width: 990px) {
    .product-border {
        border-bottom: 1px solid #dee2e6;;
    }
}

@media (min-width: 992px) {
    .product-border {
        border-right: 1px solid #dee2e6;;
    }
}